[submodule "themes/cocoa-eh"]
	path = themes/cocoa-eh
	url = https://github.com/fuegowolf/cocoa-eh-hugo-theme.git
[submodule "themes/hugo-strata-theme"]
	path = themes/hugo-strata-theme
	url = https://github.com/digitalcraftsman/hugo-strata-theme.git
